
/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Mainpage content
*/


/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

fieldset {
	min-width: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 2px solid #c1c1c1;
	outline: 2px solid rgba(51, 51, 51, 0.3);
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/**
 * 2.0 - Main content
 *
 * Index page main content
 */
 .row {
	 margin-left: 0;
	 margin-right: 0;
 }
 html {
  font-family: 'Karla', sans-serif;
  background-color: white;
 }
 .menu-small {
	 height: 40px;
	 position: fixed;
	 top: 0;
	 background-color: white;
	 width: 100%;
	 z-index: 9;
 }
.small-wrap {
	display: none;
	justify-content: space-between;
	align-items: center;
	margin: 7px 50px 0 50px;
}
.small-wrap.visible {
	display: flex;
}
.small-wrap span {
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	color: black;
}
.menu {
	position: fixed;
	display: none;
	z-index: 8;
	right: 0;
	left: 0;
	top: 40px;
	background-color: white;
}
.menu ul {
	display: inline-block;
	margin: 50px 0 50px 80px;
	font-size: 40px;
}
.splash {
	height: 100vh;
}
.splash .logo {
	position: absolute;
	top: 20px;
	left: 50px;
}
.splash .langs {
	position: absolute;
	top: 20px;
	right: 50px;
	display: inline-block;
	margin-left: 4px;
	font-size: 15px;
}
.splash .langs a {
	color: grey;
}
.splash .langs .active {
	color: black;
}
.splash .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.splash .content h1 {
	color: #fe8713;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
	text-align: center;
	padding-top: 20px;
}
.splash .content ul {
	padding-left: 50px;
}
.splash .content ul li a {
  display:inline-block;
  padding-bottom: 10px;
	color: black;
	font-size: 18px;
}
.splash .langs a,
.splash .content ul li a:hover {
	text-decoration: none;
}
.splash .content .social {
	margin-right: 10px;
}
.splash .content .social a {
	display: block;
	margin-bottom: 20px;
}

.parallax {
  height: 475px;
	overflow-y: hidden;
}
.parallax section {
	height: 1000px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.parallax h1 {
  position: absolute;
  text-align: center;
  top: 270px;
	left: 50px;
	color: white;
	font-size: 211px;
}
.aim {
	background: url("img/aim.png") 50% 0 repeat fixed; min-height: 1000px;
}
.services {
	background: url("img/services.png") 50% 0 repeat fixed; min-height: 1000px;
}
.events {
	background: url("img/events.png") 50% 0 repeat fixed; min-height: 1000px;
}
.blog {
	background: url("img/blog.png") 50% 0 repeat fixed; min-height: 1000px;
}
.talk {
	background: url("img/talk.png") 50% 0 repeat fixed; min-height: 1000px;
}
.testimonias {
	background: url("img/testimonias.png") 50% 0 repeat fixed; min-height: 1000px;
}
.space {
		margin-top: 70px;
		height: 10px;
		text-indent: -1410980px;
}
.two {
	 height: 400px;
 }
.two h2,
.four h2{
  font-size: 40px;
	font-weight: bold;
  width: 240px;
  text-align: center;
 }
 .six h2,
 .seven h2,
 .nine h2 {
  font-size: 40px;
  text-align: center;
	font-weight: bold;
 }
 .seven h2 {
  width: 50%;
	margin: 0 auto;
 }
 .six p,
 .seven p {
   font-size: 20px;
   width: 50%;
	 margin: 0 auto;
	 text-align: left;
	 padding-top: 50px;
 }
 .six p span {
 	float: right;
	width: 100%;
	text-align: right;
 }

 .two .left,
 .two .right {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
 }
 .two .right,
 .four .right {
   width: 350px;
   font-size: 20px;
 }

 .three {
	background-color: #e0de00;
	display: flex;
	align-items: center;
	text-align: center;
  height: 70px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
 }
.three a {
  color: inherit;
  vertical-align: -2px;
}
.three a:hover {
  color: inherit;
  text-decoration: none;
}
.fourth {
  margin-top: 110px;
}
.four {
	height: 275px;
}
.four h2 {
  width: 200px;
}
.four .left,
.four .right {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.five .section:nth-child(odd) {
	border-right: 1px solid #ebebeb;
}
.five .section:nth-child(3),
.five .section:nth-child(4) {
	border-bottom: 1px solid #ebebeb;
}
.five .section {
	padding: 10px 0;
	border-top: 1px solid #ebebeb;
}
.five h3 {
  text-transform: uppercase;
  color: black;
  font-size: 20px;
}
.five h6 {
  font-size: 16px;
  color:#59a1d1;
}
.six,
.seven,
.nine {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}
.six .left,
.six .right,
.seven .left,
.seven .right,
.nine .left,
.nine .right {
	height: 50%;
	display: flex;
	flex-direction: column;
	align-self: center;
	text-align: center;
}

.six,
.seven,
.eight.first,
.eleven,
.thirteen,
.parallax.top {
  margin-top: 100px;
}
.line::after {
	content: " ";
	display: block;
	border-bottom: 1px solid #ebebeb;
}
.line.black::after {
	content: " ";
	display: block;
	border-bottom: 3px solid black;
}
.eight .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}
.eight span {
  color: #e0de00;
  font-size: 39px;
  display: inline-block;
  vertical-align: 5px;
}
.eight p {
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
}
.eight a {
  font-size: 16px;
  text-decoration: underline;
  display: inline-block;
  color: black;
}
.nine {
  height: 275px;
}
.nine p {
  font-size: 20px;
  width: 350px;
  text-align: left;
}
.bottom-space {
  margin-bottom: 50px;
}
.ten {
  margin-top: 50px;
}
.ten div {
  border-top-color: transparent;
}
.ten h2 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.ten p {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}
.ten span {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}
.ten span a {
	color: black;
	border-bottom: 1px solid #e0de00;
}
.ten span a:hover {
	text-decoration: none;
  color: black;
  border-bottom: 2px solid #ebebeb;
}
.ten .head {
  width: 100%;
}
.ten .arrow img {
	width: 40px;
}
.twelve .section:nth-child(odd) {
	border-right: 1px solid #ebebeb;
}
.twelve .section {
	text-align: center;
	height: 255px;
	padding: 10px 0;
	border-top: 1px solid #ebebeb;
}
.twelve .wrap {
	display: flex;
	align-items: center;
	width: 80%;
	margin: 40px auto;
}
.twelve .wrap h3 {
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}
.twelve .wrap h6 {
	text-align: left;
	font-size: 14px;
}
.twelve .glava {
	border-radius: 50%;
	float: left;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;
}
.twelve .head-wrap {
	width: 50%;
	display: inline-block;
	text-align: left;
	float: left;
}
.twelve .head-wrap .name {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
}
.twelve .head-wrap .date {
	font-size: 14px;
}
.thirteen {
	border-top: none !important;
}
.thirteen .hipster {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.thirteen .hipster span {
	background-color: #e0de00;
	margin: 0 40px;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
}
.thirteen .hipster-wrap {
	width: 55%;
	margin: 0 auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.thirteen .hipster-img-wrap {
	flex: 1;
}
.thirteen .hipster-wrap h3 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.thirteen .hipster-wrap p {
	font-size: 20px;
	padding-top: 20px;
}
.same {
	display: flex;
	border-top: 1px solid #ebebeb;
}
.same .tag-wrap {
	border-right: 1px solid #ebebeb;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.same .tag-wrap h3 {
	width: 40%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.same .tag-wrap,
.same .story {
	flex: 1;
	min-height: 255px;
	display: flex;
}
.same .story {
	flex-direction: column;
}
.same .story h3 {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
}
.same .story p {
	background-color: #e0de00;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
}
.same .tag-cloud {
	width: 40%;
	padding-top: 20px;
	text-align: center;
}
.same .tag-cloud a {
	display: inline-block;
	font-size: 18px;
	margin-right: 10px;
	color: black;
	border-bottom: 2px solid #e0de00;
}
.same .tag-cloud a:hover {
	color: black;
	text-decoration: none;
	border-bottom: 2px solid #ebebeb;
}
/**
* 3 - Slider
*
*/
.bx-wrapper .bx-prev {
    left: 10px;
    background: url(img/slider-left.png) no-repeat;
}
.bx-wrapper .bx-next {
    right: 10px;
    background: url(img/slider-right.png) no-repeat;
}
.bx-prev,
.bx-next {
	position: absolute;
    margin-top: -16px;
    outline: 0;
    width: 53px;
    height: 100px;
    text-indent: -9999px;
    z-index: 9999;
}
.bx-controls a:visited {
	border: none;
}
.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}
.bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    vertical-align: bottom;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #e0de00;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/**
* 4 - Footer
*
*/
footer {
	margin: 30px 0;
	font-size: 18px;
}
footer h4 {
	margin-bottom: 15px;
	font-size: 20px;
	color:	#fe8713;
}
footer h3 {
	margin: 10px 0;
	font-size: 18px;
	font-weight: bold;
	color:	#fe8713;
}
footer ul li a {
	color: black;
}
footer ul li a:hover {
	text-decoration: none;
	color: black;
}
footer input {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 14px;
}
footer button {
	background-color: #fe8713;
	border-radius: 2px;
	padding: 3px 15px;
	font-size: 14px;
	border: none !important;
}
footer .social a {
	margin-right: 10px;
}
footer .social a:hover {
	text-decoration: none;
}
