
/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Mainpage content
*/


/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

fieldset {
	min-width: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 2px solid #c1c1c1;
	outline: 2px solid rgba(51, 51, 51, 0.3);
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/**
 * 2.0 - Main content
 *
 * Index page main content`
 */
 .row {
	 margin-left: 0;
	 margin-right: 0;
 }
 .main-wrap {
	padding-left: 30px;
	padding-right: 30px;
 }
 html {
  font-family: 'Karla', sans-serif;
  background-color: white;
 }
 .menu-wrap {
	display: flex;
	align-items: center;
	min-height: calc(100vh - 40px);
 }
 .close {
	stroke-width: 2px;
	stroke: #333;
	cursor: pointer;
	margin-left: 50px;
 }
 .menu-small {
	 height: 40px;
	 position: fixed;
	 top: 0;
	 background-color: white;
	 width: 100%;
	 z-index: 9;
 }
.small-wrap {
	display: none;
	justify-content: space-between;
	align-items: center;
	margin: 7px 35px 0 0;
}
.small-wrap.visible {
	display: flex;
}
.small-wrap span {
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	color: black;
}
.menu {
	position: fixed;
	display: none;
	z-index: 999999;
	right: 0;
	left: 0;
	top: 40px;
	background-color: white;
}
.menu ul {
	display: inline-block;
	margin: 50px 0 50px 80px;
	font-size: 40px;
	font-family: Anton, sans-serif;
}
.menu ul li a {
	color: #333;
	text-decoration: none;
}
.entry-text {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.entry-text h2 {
	font: 700 70px Anton, script;
	text-align: center;
	background: url("img/eye.png");
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: cover;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
	letter-spacing: 20px;
}
.splash {
	height: 100vh;
}
.splash .logo {
	position: absolute;
	top: 20px;
	left: 50px;
}
.splash .langs {
	position: absolute;
	top: 20px;
	right: 50px;
	display: inline-block;
	margin-left: 4px;
	font-size: 15px;
}
.splash .langs a {
	color: grey;
}
.splash .langs .active {
	color: black;
}
.splash .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.splash .content h1 {
	color: #fe8713;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
	text-align: center;
	padding-top: 20px;
}
.splash .content ul {
	padding-left: 50px;
}
.splash .content ul li a {
  display:inline-block;
	color: #333;
	font-size: 18px;
	padding-top: 10px;
	border-bottom: 1px solid transparent;
	-webkit-transition: border 300ms ease-in;
  transition: border 300ms ease-in;
}
.splash .langs a {
	text-decoration: none;
	padding-left: 10px;
}
.splash .content ul li a:hover {
	text-decoration: none;
	border-bottom: 1px solid #333;
}
.social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	height: 100vh;
	width: 30px;
 	right: 0;
	z-index: 9999999999;
	background-color: white;
}
.social a {
	margin-bottom: 20px;
}

.parallax {
  height: 475px;
	overflow-y: hidden;
}
.parallax section {
	height: 1000px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.parallax h1 {
  position: absolute;
  text-align: center;
  top: 270px;
	left: 50px;
	color: white;
	font-size: 211px;
}
.aim {
	background: url("img/aim.png") repeat fixed;
	min-height: 1000px;
	background-size: cover;
}
.services {
	background: url("img/services.png") 100% 100% repeat fixed;
	min-height: 1000px;
	background-size: cover;
}
.events {
	background: url("img/events.png") repeat fixed;
	min-height: 1000px;
	background-size: cover;
}
.blog {
	background: url("img/blog.png") repeat fixed;
	min-height: 1000px;
	background-size: cover;
}
.talk {
	background: url("img/talk.png") repeat fixed;
	min-height: 1000px;
	background-size: cover;
}
.testimonias {
	background: url("img/testimonias.png") repeat fixed;
	min-height: 1000px;
	background-size: cover;
}
.space {
		margin-top: 70px;
		height: 10px;
		text-indent: -1410980px;
}
.two {
	 height: 400px;
 }
.two h2,
.four h2{
	font-size: 40px;
	font-weight: bold;
	width: 240px;
	text-align: center;
	font-family: Anton, sans-serif;
	line-height: 47px;
	letter-spacing: 1px;
 }
 .six h2,
 .seven h2,
 .nine h2 {
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	font-family: Anton, sans-serif;
	line-height: 47px;
	letter-spacing: 1px;
 }
 .seven h2 {
  width: 50%;
	margin: 0 auto;
 }
 .six p,
 .seven p {
   font-size: 20px;
   width: 50%;
	 margin: 0 auto;
	 text-align: left;
	 padding-top: 50px;
 }
 .six p span {
	 display: flex;
	 margin-top: 20px;
	 align-items: end;
	 justify-content: flex-end;
 }
 .six p span img {
	 display: inline-block;
	 padding-right: 10px;
 }
 .six p span a {
	 text-decoration: underline;
	 font-size: 18px;
	 color: #333;
 }

 .two .left,
 .two .right {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100%;
 }
.two .right,
.four .right {
	padding: 0 100px;
	font-size: 20px;
}

 .three {
	/*display: flex;*/
	text-align: center;
  height: 70px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
 }
 .three .left,
 .three .right {
	background-color: #e0de00;
 }
 .three .col-lg-6 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;
	border: 1px solid rgb(210, 210, 210);
 }
.three a {
  color: inherit;
  padding-left: 10px;
}
.three a img {
	vertical-align: -3px;
	display: inline-block;
	padding-right: 10px;
}
.three a:hover {
  color: inherit;
  text-decoration: none;
}
.fourth {
  margin-top: 110px;
}
.four {
	height: 275px;
}
.four h2 {
  width: 200px;
}
.four .left,
.four .right {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.five .single {
	display: flex;
}
.five .section {
	display: flex;
  align-items: center;
  justify-content: center;
}
.five .section:nth-child(odd) {
	border-right: 1px solid rgb(210, 210, 210);
}
.five .single:nth-child(2) {
	border-bottom: 1px solid rgb(210, 210, 210);
}
.five .single {
	border-top: 1px solid rgb(210, 210, 210);
}
.five .section {
	min-height: 125px;
	padding: 10px 0;
}
.five .headers {
	margin-left: 20px;
}
.five h3 {
  text-transform: uppercase;
  color: black;
  font-size: 20px;
}
.five h6 {
  font-size: 16px;
  color:#59a1d1;
}
.six,
.seven,
.nine {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}
.six .left,
.six .right,
.seven .left,
.seven .right,
.nine .left,
.nine .right {
	height: 50%;
	display: flex;
	flex-direction: column;
	align-self: center;
	text-align: center;
	margin-right: 15px;
}

.six,
.seven,
.eight.first,
.eleven,
.thirteen,
.parallax.top {
  margin-top: 100px;
}
.line::after {
	content: " ";
	display: block;
	border-bottom: 1px solid rgb(210, 210, 210);
}
.line.black::after {
	content: " ";
	display: block;
	margin-top: 60px;
	border-bottom: 3px solid black;
}
.eight .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}
.eight span {
  color: #e0de00;
  font-size: 39px;
  display: inline-block;
  vertical-align: 5px;
}
.eight .flex-wrap {
	display: flex;
	min-height: 80px;
	width: 250px;
}
.eight p {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	display: flex;
	padding-left: 20px;
	align-self: flex-end;
}
.eight a {
  font-size: 16px;
	font-weight: bold;
  text-decoration: underline;
  display: inline-block;
  color: #333;
	margin-left: 10px;
}
.arrow-wrap {
	width: 250px;
}
.nine {
  margin: 60px 0 80px;
}
.nine p {
  font-size: 20px;
  padding: 0 100px;
  text-align: left;
}
.ten {
	display: flex;
	margin: 50px 0;
}
.ten .slideme {
	border-top-color: transparent;
	margin: 0 15px;
}
.ten h2 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.ten p {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}
.ten span {
	display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
.ten span a {
	color: #333;
	text-decoration: underline;
}
.ten span a:hover {
	text-decoration: none;
  color: black;
  border-bottom: 2px solid rgb(210, 210, 210);
}
.ten .head {
	height: 225px;
	width: 100%;
}
.ten .arrow img {
	width: 40px;
}
.twelve {
	display: flex;
	flex-wrap: wrap;
}
.twelve .section {
	width: 50%;
	padding: 20px 0;
	border-top: 1px solid rgb(210, 210, 210);
}
.twelve .section.desktop {
	padding: 0;
}
.twelve .section:nth-child(odd) {
	border-right: 1px solid rgb(210, 210, 210);
}
.twelve .wrap {
	display: flex;
	align-items: center;
	width: 90%;
	margin: 40px auto;
}

.twelve .wrap h3 {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}
.twelve .wrap h6 {
	text-align: left;
	font-size: 14px;
}
.twelve .glava {
	border-radius: 50%;
	float: left;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;
}
.twelve .head-wrap {
	text-align: left;
}
.twelve .head-wrap .name {
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
}
.twelve .head-wrap .date {
	font-size: 14px;
}
.thirteen a {
	color: #333;
}
.thirteen a:hover {
	text-decoration: none;
}
.thirteen {
	display: flex;
	border-top: none !important;
}
.thirteen .hipster {
	flex-direction: column;
}
.thirteen .hipster span {
	background-color: #e0de00;
	margin: 0 40px;
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
}
.thirteen .hipster-wrap {
	width: 55%;
	margin: 0 auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.thirteen .hipster-img-wrap {
	flex: 1;
}
.thirteen .hipster-wrap h5 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.thirteen .hipster-wrap span {
	font-size: 20px;
	padding-top: 20px;
}
.tag-wrap {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tag-wrap h3 {
	width: 40%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.tag-wrap,
.story {
	flex: 1;
	min-height: 255px;
	display: flex;
	padding: 0;
}
.story {
	flex-direction: column;
}
.story h3 {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
}

.story p,
.bottom-yellow {
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 auto;
	width: 100%;
	cursor: pointer;
	border-top: 1px solid rgb(210, 210, 210);
	border-right: 1px solid rgb(210, 210, 210);
	transition: all 300ms ease-in;
	background-color: #e0de00;
}
.story p.all {
	border: 1px solid rgb(210, 210, 210);
	background-color: #e0de00;
}
.story a.shorter {
	width: 80%;
	margin: 0 auto;
}
.story p span,
.bottom-yellow a {
	vertical-align: -2px;
	display: inline-block;
	margin-left: 10px;
}
.story p span a,
.bottom-yellow a {
	color: black;
	text-decoration: none;
}
.tag-cloud {
	width: 40%;
	padding-top: 20px;
	text-align: center;
}
.tag-cloud a {
	display: inline-block;
	font-size: 18px;
	margin-right: 10px;
	color: black;
	border-bottom: 2px solid #e0de00;
}
.tag-cloud a:hover {
	color: black;
	text-decoration: none;
	border-bottom: 2px solid rgb(210, 210, 210);
}
.slideme {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 250px, 0px);
  -webkit-transform: translate3d(0px, 250px, 0px);
  -o-transform: translate(0px, 250px);
  -ms-transform: translate(0px, 250px);
  transform: translate3d(0px, 250px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slideme.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.desktop {
	display: block;
}
.mobile {
	display: none;
}
/**
* 3 - Slider
*
*/
.bx-wrapper .bx-prev {
	left: 15px;
	background: url(img/slider-left.png) no-repeat;
}
.bx-wrapper .bx-next {
	right: 15px;
	background: url(img/slider-right.png) no-repeat;
}
.bx-controls {
	display: flex;
	align-items: center;
}

.bx-prev,
.bx-next {
	position: absolute;
	top: calc(30% - 50px);
	outline: 0;
	width: 53px;
	height: 100px;
	text-indent: -9999px;
	z-index: 9999;
}
.bx-controls a:visited,
.bx-controls a:focus {
	border: none;
	outline: none;
}
.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 90%;
	padding-left: 40px;
}
.bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	vertical-align: bottom;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
	background: #e0de00;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.testimony p {
	font-size: 16px;
	width: 60%;
	padding: 0;
	margin: 0 auto;
}
.testimony span {
	font-size: 18px;
	font-style: italic;
	display: block;
}
.testimony span.testimony-by {
	font-size: 20px;
	font-weight: bolder;
	margin-top: 20px;
}
/**
* 4 - Footer
*
*/
footer {
	margin: 30px 0;
	font-size: 18px;
}
footer h4 {
	margin-bottom: 15px;
	font-size: 20px;
	color:	#fe8713;
}
footer h3 {
	margin: 10px 0;
	font-size: 18px;
	font-weight: bold;
	color:	#fe8713;
}
footer ul li a {
	color: black;
}
footer ul li a:hover {
	text-decoration: none;
	color: black;
}
footer input {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 14px;
}
footer button {
	background-color: #fe8713;
	border-radius: 2px;
	padding: 3px 15px;
	font-size: 14px;
	border: none !important;
}
footer .social a {
	margin-right: 10px;
}
footer .social a:hover {
	text-decoration: none;
}

/**
*	INNOVACIONAL
*/
.innovacion-splash,
.brod-splash,
.personal-splash {
	height: 100vh;
	background-size: cover;
	position: relative;
	margin-left: 30px;
}
.innovacion-splash h1,
.brod-splash h1,
.personal-splash h1 {
	position: absolute;
	bottom: 20px;
	right: 50px;
	font-size: 50px;
	color: white;
	font-family: Karla, sans-serif;
}

.innovacion-splash {
	background-image: url("img/innovacion-splash.png");
}
.brod-splash {
	background-image: url("img/brod-splash.png");
}
.personal-splash {
	background-image: url("img/personal-splash.png");
}
.redbul {
	background-image: url("img/redbul.png");
}
.enterpreneurbrod {
	background-image: url("img/enterpreneurbrod.png");
}
.sections-wrap {
	display: flex;
	flex-direction: column;
	background-size: cover;
}
.sections-wrap a:hover {
	text-decoration: none;
}
.sections-wrap section {
	border-bottom: 1px solid white;
	width: 80%;
	cursor: pointer;
}

.sections-wrap section p {
	padding: 100px 50px;
	color: white;
	font-size: 50px;
}

.fancy-content {
	display: flex;
}
.fancy-content section {
	width: 50%;
}
.fancy-content section h2 {
	font-size: 40px;
	font-weight: bold;
	width: 240px;
	text-align: center;
	font-family: Anton, sans-serif;
	line-height: 47px;
	letter-spacing: 1px;
	margin: 70px auto;
}
.fancy-content .main-text {
	font-size: 20px;
	margin: 70px 50px;
}
.fancy-content .main-text .snake {
	display: inherit;
	margin: 0 auto;
	padding-bottom: 20px;
}
.fancy-content .main-text.oranje {
	color: #fe8713;
	font-size: 22px;
	font-weight: bold;
}
.target-wrap {
	max-width: 550px;
	height: 550px;
	margin: 80px auto;
	position: relative;
	background: url(img/target.png) top left no-repeat;
	background-size: cover;
}
.circle-wrap {
	max-width: 550px;
	height: 550px;
	margin: 80px auto;
	position: relative;
	background: url(img/002-003-000.png) top left no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.circle-wrap .single {
	display: flex;
	height: 180px;
	align-items: center;
}
.circle-wrap .row-wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 190px;
}
.circle-wrap .row-wrap span {
	width: 150px;
	text-align: center;
}
.circle-wrap .yellow {
	color: #e0de00
}
.circle-wrap .orange {
	color: #fe8713;
}
.circle-wrap .green {
	color: green;
}
.circle-wrap .blue {
	color: #2C88C5;
}
.circle-wrap span {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.target-wrap span {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
}
.target-wrap span:nth-of-type(1) {
	top: 260px;
	left: 215px;
	color: #2C88C5;
}
.target-wrap span:nth-of-type(2) {
	top: 80px;
	left: 135px;
}
.target-wrap span:nth-of-type(3) {
	top: 190px;
	left: 50px;
}
.yellow-wrap {
	display: flex;
	height: 50px;
	align-items: center;
}
.yellow-wrap hr {
	border-top: 2px solid #e0de00;
}
.yellow-wrap span.long {
	flex: 6;
}
.yellow-wrap span.medium {
	flex: 3;
	border: 2px solid #e0de00;
	margin: 0 40px;
	height: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}
.yellow-wrap span.short {
	flex: 1;
}
.main-wrap .results-wrap:first-child {
	margin-top: 80px;
}
.results-wrap {
	display: flex;
	flex-direction: row;

}
.results-wrap span {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.results-wrap .smaller,
.results-wrap .bigger {
	position: relative;
	padding: 0 60px;
}
.results-wrap .bigger.text {
	min-height: 280px;
	display: flex;
	align-items: flex-end;
}
.smaller.clock {
	background: url("img/001-000.png") top left no-repeat;
	flex: 0.6;
	height: 250px;
	text-indent: -1410980px;
}
.medium.clock {
	background: url("img/compas.png") top left no-repeat;
	flex: 0.6;
	height: 250px;
	text-indent: -1410980px;
}.medium.racq {
	background: url("img/ssi-001-000.png") top left no-repeat;
	flex: 0.6;
	height: 250px;
	text-indent: -1410980px;
}
.targeted {
	background: url("img/003-000.png") top left no-repeat;
	background-position: 80px 0;
	flex: 0.6;
	height: 250px;
	text-indent: -1410980px;
}
.bigger.clock {
	flex: 1;
	align-self: center;
}
.d {
	background: url("img/001-009.png") top right no-repeat;
	background-size: 10%;
	padding: 20px 40px;
}
.l {
	background: url("img/001-011.png") top left no-repeat;
	background-size: 10%;
	padding: 20px 40px;
}
.c {
	background: url("img/001-010.png") top left no-repeat;
	background-size: 10%;
	padding: 20px 40px;
}
.p {
	background: url("img/001-003-007.png") top left no-repeat;
	background-size: 10%;
	padding: 20px 40px;
}
.dd {
	background: url("img/001-003-005.png") top left no-repeat;
	background-size: 10%;
	padding: 20px 40px;
}
.cc {
	background: url("img/001-003-006.png") top left no-repeat;
	background-size: 10%;
	background-size: 10%;
	width: 60%;
	padding-left: 100px;
	background-position: 70px 0;
}
.bottom-yellow {
	margin-top: 80px;
}
.gray-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #c7c7c7;
	position: relative;
}
.gray-wrap section article {
	padding: 0 60px;
	font-size: 18px;
}
.gray-wrap section span {
	position: absolute;
  top: -55px;
  font-size: 40px;
  left: calc(25% - 110px);
}
.gray-wrap section span.righter {
	left: calc(75% - 110px);
}
.gray-wrap div,
.gray-wrap section {
	flex: 1;
}
.gray-wrap div img {
	width: 100%;
}
.margined {
	margin-top: 80px;
}


@media (max-width: 992px) {
	.social,
	.parallax h1,
	.splash,
	.eight,
	footer {
    display: none;
	}
	.main-wrap {
		padding: 0;
	}
	.two,
	.four,
	.six,
	.seven,
	.nine {
		height: auto;
		margin: 50px auto 35px;
		width: 70%;
		flex-direction: column;
	}
	.two h2,
	.four h2,
	.six h2,
	.seven h2 {
		width: 320px;
		margin-bottom: 35px;
	}
	.two .right,
	.four .right,
	.six .right,
	.seven .right
	.nine .right {
		padding: 0;
	}
	.nine .left {
		padding: 0;
		margin: 0;
	}
	.three .left {
		margin-bottom: 5px;
	}
	.five .single {
		flex-direction: column;
		border: none;
	}
	.five .section {
		border-top: 1px solid rgb(210, 210, 210);
	}
	.five .section:nth-child(4) {
		border-bottom: 1px solid rgb(210, 210, 210);
	}
	.five .section .h-wrap {
		width: 80%;
		display: flex;
		align-items: center;
	}
	.five .section .h-wrap img {
		height: 67px;
		width: 88px;
	}
	.five .section:nth-child(odd) {
		border-right: none;
	}
	.six .slideme {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.seven p,
	.nine p {
		width: 100%;
		padding: 0;
		margin: 35px auto;
	}
	.twelve .section {
		width: 100%;
		border-right: none;
	}
	.twelve .section:nth-child(2) {
		border-bottom: 1px solid rgb(210, 210, 210);
	}
	.thirteen .hipster-wrap {
		width: 100%;
	}
	.thirteen .hipster-img-wrap {
		text-align: center;
	}
	.nine h2 {
		margin: 0 auto;
		width: 300px;
	}
	.thirteen .hipster-wrap h5 {
		margin: 35px auto 0;
		width: 300px;
	}
	.thirteen .hipster-wrap span {
		width: 70%;
		margin: 35px auto;
		padding-top: 0;
	}
	.same .story a.shorter {
		width: 100%;
	}
	.slideme.upper {
		display: none;
	}
	.slideme.lower {
		display: block;
		width: 70%;
		margin: 35px auto;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
	.six .right {
		margin-right: 0;
	}
	.six p span {
		margin-top: 45px;
		justify-content: flex-start;
	}
	.ten {
		flex-wrap: wrap;
	}
	.ten .head {
		height: auto;
	}
	.ten .slideme {
		margin: 0 30px;
	}
	.mb {
		display: flex;
		width: 70%;
		justify-content: left;
		align-items: center;
	}
	.mb .mb-arrow {
		height: 20px;
	}
	.slider-wrap {
		width: 90%;
		margin: 50px auto 100px;
		position: relative;
	}
	.slider-wrap .right {
		margin-right: 0;
		margin-top: 50px;
		width: 100%;
	}
	.testimony p {
		width: 70%;
	}
	.bx-wrapper .bx-prev,
	.bx-wrapper .bx-next {
		top: calc(40% - 50px);
	}
	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {
		padding-left: 0px;
	}
}
